/* CSS стили для page */

.page {
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #2A2C2F;
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

