/* CSS стили для lead */

.lead {
    max-width: 984px;
    margin: 0;
    margin: 56px auto 0 auto;
  }

@media screen and (max-width: 1184px) {

    .lead {
        max-width: 928px;
        margin-top: 48px;
      }
}

@media screen and (max-width: 950px) {

    .lead {
        max-width: 768px;
      }
}

@media screen and (max-width: 750px) {

    .lead {
        max-width: 320px;
    }
}