/* CSS стили для cover__subtitle */

.cover__subtitle {
    max-width: 360px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: white;
    position: relative;
    z-index: 3;
  }

@media screen and (max-width: 750px) {

  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
  }
}
    