/* CSS стили для place__title */

.place__title {
    width: 100%;
    margin: 0;
    text-align: left; /* выравниваем текст по горизонтали внутри блока */
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    color: white;
  }
