@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

/*page*/

@import url(../blocks/page/page.css);

/*header*/

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);

/*lead*/

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

/*intro*/

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list-item/intro__list-item.css);
@import url(../blocks/intro/__list-item-number/intro__list-item-number.css);

/*photo-grid*/

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);

/*places*/

@import url(../blocks/places/places.css);
@import url(../blocks/places/place/place.css);
@import url(../blocks/places/place/__title/place__title.css);
@import url(../blocks/places/place/__link/place__link.css);
@import url(../blocks/places/place/__image/place__image.css);
@import url(../blocks/places/place/__paragraph/place__paragraph.css);
@import url(../blocks/places/place/__text/place__text.css);
@import url(../blocks/places/place/__website/place__website.css);
@import url(../blocks/places/place/__url-heading/place__url-heading.css);

/*cover*/

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__link/cover__link.css);

/*footer*/

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/*
.border{
    border: 2px solid rgb(235, 22, 22);
}
*/

/*----------------------------------------------------------------------------*/

  @media screen and (max-width: 1280px) {

    .header {
      margin-left: 48px;
      margin-right: 48px;
    }

    .footer {
      margin-left: 48px;
      margin-right: 48px;
    }
  }

/*----------------------------------------------------------------------------*/

  @media screen and (max-width: 1184px) {
  
    .intro {
      max-width: 928px;
    }
    
    .lead {
      max-width: 928px;
      min-height: 962px;
      margin-top: 48px;
    }
  
    .lead__image {
      min-height: 580px;
      margin-top: 56px;
    }
  
    .photo-grid {
      max-width: 928px;
      min-height: 942px;
      grid-template-columns: repeat(3, 300px);
      gap: 14px;
    }
  }

 /*----------------------------------------------------------------------------*/

  @media screen and (max-width: 1024px) {

    .header {
      max-width: 928px;
      margin-left: 48px;
      margin-right: 48px;
    }

    .places {
      max-width: 928px;
    }
  
    .place {
      grid-template-columns: 440px 456px;/*repeat(2, 1fr);*/
      gap: 48px 32px;
    }

    .place__image {
      max-width: 440px;
      min-height: 440px;
    }

    .cover__link {
      min-height: 640px;
    }

  .cover__title {
      margin-top: 195px;
    }
  }

/*----------------------------------------------------------------------------*/

  @media screen and (max-width: 950px) {
  
    .intro {
      max-width: 720px;
      margin-top: 88px;
    }
  
    .intro__title {
      max-width: 720px;
    }
  
    .intro__text {
      max-width: 720px;
    }
  
    .intro__list {
      max-width: 720px;
  }
  
    .lead {
      max-width: 768px;
      min-height: 862px;
      margin-top: 48px;
    }
  
    .lead__image {
      min-height: 480px;
      margin-top: 56px;
    }
    
    .lead__caption {
      margin-left: 24px;
    }
  
    .photo-grid {
      max-width: 720px;
      min-height: 1664px;
      grid-template-columns: repeat(2, 352px);
      gap: 16px;
    }
  
    .places {
      max-width: 720px;
    }
  
    .place {
      grid-template-columns: 340px 352px;/*repeat(2, 1fr);*/
      gap: 48px 28px;
      margin: 0 auto 72px auto;
    }
  
    .place__image {
      max-width: 340px;
      min-height: 340px;
    }
  
    .place__paragraph {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }
  
    .place__paragraph:nth-child(even) {
      margin-top: 25px;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }
  
    .place__title {
      font-size: 42px;
      font-weight: 900;
      line-height: 46px;
      letter-spacing: 0.9px;
    }
  }

/*----------------------------------------------------------------------------*/

  @media screen and (max-width: 800px) {

    .footer {
      max-width: 720px;
      margin-left: 24px;
      margin-right: 24px;
    }
  }

/*----------------------------------------------------------------------------*/

  @media screen and (max-width: 768px) {

    .header {
      max-width: 720px;
      margin-left: 24px;
      margin-right: 24px;
    }
    
    .cover {
      max-width: 768px;
      margin: 10px auto 88px auto;
    }

    .cover__link {
      min-height: 480px;
    }

    .cover__title {
      margin-top: 115px;
    }
  }

/*----------------------------------------------------------------------------*/

  @media screen and (max-width: 750px) {

    .header {
      max-width: 288px;
      /*margin-top: 16px;*/
      margin-left: auto;
      margin-right: auto;
    }

    .header__logo { 
      margin-top: 16px; 
      width: 142px;
      height: 42px;
    }

    .header__lang-links {  
      margin-top: 30px;
      margin-bottom: 8px;
    }

    .header__lang-link {  
      width: 22px;
      height: 20px;
      font-size: 18px;
      line-height: 20px;
    }

    .header__lang-link:nth-child(odd) {  
      width: 22px;
      height: 20px;
      font-size: 18px;
      line-height: 20px;
    }

    .intro {
      max-width: 288px;
      margin-top: 64px;
    }
    
    .intro__title {
      max-width: 288px;
      min-height: 70px;
      font-size: 32px;
      line-height: 35px;
    }
  
    .intro__text {
      max-width: 288px;
      min-height: 520px;
    }
  
  .intro__list {
      max-width: 288px;
      margin-top: 34px;
  }
  
    .lead {
      max-width: 320px;
      min-height: 406px;
      margin-top: 48px;
    }
  
    .lead__title {
      max-width: 288px;
      min-height: 88px;
      font-size: 40px;
      line-height: 44px;
    }
    
  .lead__subtitle {
      max-width: 288px;
      min-height: 40px;
      margin-top: 16px;
      font-size: 16px;
      line-height: 20px;
    }
  
    .lead__image {
      min-height: 200px;
      margin-top: 40px;
    }
    
    .lead__caption {
      margin-left: 16px;
    }

    .cover {
      max-width: 320px;
      margin: 16px auto 64px auto;
    }

    .cover__link {
      min-height: 200px;
    }

    .cover__title {
      margin-top: 33px;
      margin-bottom: 16px;
      max-width: 288px;
      height: 70px;
      font-size: 32px;
      font-weight: 900;
      line-height: 35px;
    }

    .cover__subtitle {
      max-width: 288px;
      height: 48px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.5px;
    }

    .footer {
      max-width: 320px;
      margin: 0 auto 24px auto;
      display: grid;
      grid-template-columns: 320px;
      grid-template-rows: auto;
      gap: 48px;
    }
    
    .footer__links {
      display: grid;
      grid-template-columns: 320px;
      grid-template-rows: auto;
      gap: 32px;
    }

    .footer__link {
      width: 74px;
      height: 24px;
      margin-left: 16px;
      margin-right: 0;
      font-size: 24px;
      line-height: 24px;
    }

    .footer__copyright {
      width: 186px;
      height: 14px;
      margin-left: 16px;
      line-height: 14px;
    }
  }

/*----------------------------------------------------------------------------*/

  @media screen and (max-width: 740px) {
  
    .photo-grid {
      margin-top: 64px;
      max-width: 288px;
      min-height: 2724px;
      grid-template-columns: repeat(1, 288px);
      gap: 12px;
    }

    .places {
      max-width: 320px;
      margin: 64px auto 0 auto;
    }
  
    .place {
      margin-bottom: 50px;
      grid-template-columns: 320px;
      grid-template-rows: auto;
      gap: 32px;
    }
      
    .place__title {
      max-width: 288px;
      margin: 0 auto;
      font-size: 32px;
      line-height: 35px;
    }

    .place__image {
      max-width: 320px;
      min-height: 320px;
    }
  
    .place__website {
      max-width: 288px;
      margin: 0 16px;
    }

    .place__paragraph {
      margin: 0 auto;
      max-width: 288px;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }

    .place__paragraph:nth-child(even) {
      margin: 0 auto;
      max-width: 288px;
      margin-top: 25px;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }
  }

/*----------------------------------------------------------------------------*/



