/* CSS стили для cover__title */

.cover__title {
    max-width: 560px;
    height: 100%;
    margin: 0 auto 32px auto;
    text-align: center;
    font-style: normal;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    color: white;
    position: relative;
    z-index: 2;
  }

@media screen and (max-width: 750px) {

  .cover__title {
    margin-bottom: 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
