/* CSS стили для place__paragraph */

.place__paragraph {
    width: 100%;
    margin: 0;
    text-align: start; /* выравниваем текст по горизонтали внутри блока */
    font-size: 18px;
    font-weight: 400;
    line-height: 29.34px;
    color: white;
  }

  .place__paragraph:nth-child(even) {
    width: 100%;
    margin: 0;
    margin-top: 26px;
    text-align: start;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.34px;
    color: white;
  }

  @media screen and (max-width: 950px) {
  
    .place__paragraph {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
    
    .place__paragraph:nth-child(even) {
        margin-top: 25px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
}

@media screen and (max-width: 740px) {

    .place__paragraph {
      margin: 0 auto;
      max-width: 288px;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }

    .place__paragraph:nth-child(even) {
      margin: 0 auto;
      max-width: 288px;
      margin-top: 25px;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }
}