/* CSS стили для footer */

.footer {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {

  .footer {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 800px) {

  .footer {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 750px) {

  .footer {
    max-width: 288px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 48px;
    margin-left: auto;
    margin-right: auto;
  }
}
  