/* CSS стили для place__url-heading */

.place__url-heading {
    width: 100%;
    margin: 0;
    text-align: left; /* выравниваем текст по горизонтали внутри блока */
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #AAAAAA;
    text-transform: capitalize;
    letter-spacing: 2px;
  }